*{
    box-sizing: border-box;
    
}


main img{
    border-radius: 50%;
}

main img:hover{
   transform: scale(1.2);

}

#yazan{
width: 100%;
height: 300px;
margin-bottom: 50px;

}

#yazan img{
    float: left;
}


#yazan p{
    padding: 100px;
    margin-left: 260px;
    font-size: 30px;
}

#fatima{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    
    }
    
    #fatima img{
        float: right;
    }
    
    #fatima p{
        padding: 100px;
        margin-left: 200px;
        font-size: 30px;
    }

    #osama{
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
        
        }
        
        #osama img{
            float: left;
        }
        
        #osama p{
            padding: 100px;
            margin-left: 260px;
            font-size: 30px;
        }
        
        #ahmad{
            width: 100%;
            height: 300px;
            margin-bottom: 50px;
            
            }
            
            #ahmad img{
                float: right;
            }
            
            #ahmad p{
                padding: 100px;
                margin-left: 200px;
                font-size: 30px;
            }
    
            #amro{
                width: 100%;
                height: 300px;
                margin-bottom: 50px;
               
                }
                
                #amro img{
                    float: left;
                }
                
                #amro p{
                    padding: 100px;
                    margin-left: 260px;
                    font-size: 30px;
                }
                #bahaa{
                    width: 100%;
                    height: 300px;
                    margin-bottom: 50px;
                   
                    }
                    
                    #bahaa img{
                        float: right;
                    }
                    
                    #bahaa p{
                        padding: 100px;
                        margin-left: 200px;
                        font-size: 30px;
                    }



main h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}                    

