*{ 
    box-sizing: border-box;
    
}

main{
    position: relative;
    /* top: 25px; */
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#all{
    position: absolute;
    top: 75px;
    right: 5%;
    background-color:#B90F00 ;
    padding: 15px; 
    border-radius: 5%;   
    font-size: 20px;
    border: black solid 2px;
    color: antiquewhite;

}

#table th,tr{
    border: solid black 2px;
    width: 200px;
    align-content: center;
}
#container {
    overflow-y: auto;
    height: 400px;
    padding: 20px;
}
th,tr{
    border: solid black 2px;
    width: 150px;
    text-align: center;
    padding: 15px;
    
    
}
th{
    color: antiquewhite;

}
td {
    
    vertical-align: middle;
}
td img{   
    margin: 5px auto 5px auto ;    
    
}
main input{
    width: 50px;
    margin: 45px auto auto auto ;  
    
      

}

th{
    background-color:#B90F00 ;
}


table img{
    width: 100px;
    height: 100px;
}


.subm{
    width: 200px;
    height: 50px;

}
#main h1{
    color: white;
    font-family: 'Indie Flower', cursive;

}
main form{
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
    /* height: 500px;   */
    text-align: center;
}
#checkout{
    display: block;
    position: absolute;
    bottom: 8%;
    left: 44%;
    background-color: #B90F00;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 10%;
    width: 180px;
    color: antiquewhite;
}



 
