*{
    box-sizing: border-box;
    
}
/* body{
    background-color: whitesmoke;
    margin: 20px;
    position: absolute;
}
 */

main{
    position: relative;
    top: 200px;
    height: 1000px;
}
table th,tr, td{
    border: solid,black;
    width: 300px;
    text-align: center;
    padding: 15px;
}
th{
    /* display: none; */

}
table img{
    width: 100px;
    height: 100px;
}
.box{
    width: 350px;
    height: 350px;
    background-color: bisque;
    margin: 20px;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.box h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.box img{
    width: 250px;
    height:250px;
}
.subm{
    width: 100px;
    height: 50px;

}
#main h1{
    color: white;
    font-family: 'Indie Flower', cursive;

}
main form{
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
    /* height: 500px;   */
    text-align: center;
}
.divi{
    display: block;
    position: absolute;
    bottom: 0%;

}




