main{
    height: 500px;
}
#main{
    display: flex;
    align-items: center;
    /* margin: 20px; */
    justify-content: center;   
    height: 500px;  

}
#sd1,#sd2{
    bottom:20px;
    width: 30%;
    float: left;   
    margin-right: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer; 
    font-size: 35px;
    font-weight: bold;
    
}
#sd1:hover{
    transform: scale(1.2);
    
}
#sd2:hover{
    transform: scale(1.2);
    
}

#sd1{
    background-image: url(../img/donation/Pottery\ jar.jpg);
    background-position: right bottom, left top;
    height: 350px;
    width: 350px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    bottom:20px;
    text-align: center;  
    
}


#sd2{
    background-image:url(../img/donation/donation\ money.jpg) ;
    height: 350px;
    width: 350px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    bottom:20px;
    text-align: center;

}

main img{
    width: 200px;
    height:200px;
}
#main h1{
    color: white;
    font-family: 'Indie Flower', cursive;

}

footer{
    border-top: black solid 2px;
    clear: both;
    display: flex;
    background-color: #b0efeb;
}
footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.feedback{
    width: 30%;
    float: left;
    margin-top: 10px;
    margin-left: 50px;

}
.feedback h3{
    margin-bottom: 10px;
    font-weight: bold;
}
.feedback p{
    margin: 10px;
    margin-bottom: 20px;
}
.feedback img{
    margin-right: 10px;
}
#socialMedia{
    margin-left: 10px;
}
