html
{
    scroll-behavior: smooth;

}

.volunteerform label
{
    display: inline-block;
    width: 33%;

}


img
{
display: inline;
}
body{
    width: 100%;
}

.volunteerform
{
width: 33%;
    margin: auto ;
    margin-top: 4%;
}

fieldset
{
    border: 4px solid black ;
    border-spacing: 33px;
    padding: 3%;

}


legend
{
    margin-bottom: 5%;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
text-align: center;
}

button {
    display: inline-block;
    background-color: white; 
    color: black; 
   margin-left: 18%;
   padding:2%;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }


.hero
{
    background-image: url("../img/volun.jpg");
    padding-bottom: 44%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: test;
animation-duration:5s;
 animation-iteration-count: infinite;
  
}

@keyframes test {
    50% {
      background-image: url("../img/volun.jpg");
    }
   75%
   {
    background-image: url("../img/hero2.jpg");
   }
   100%
   {
    background-image: url("../img/hero3.jpg");
   }
  }

#herotext
{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    margin:3%;
 
}

.text-content a:link, .text-content a:visited {
    background-color: white;
    color: black;
    border: 1px solid olive;
   width: 55%;
padding: 10px 20px;

    
  }

  .text-content p 
  {
      font-weight: bold;
  }


.events-loc
{
    
text-align: center;
margin-top: 9%;
}



  #zarqa-list,#amman-list,#irbid-list
  {
      display: none;
  }

ul 
{
    /* background-color: red; */
    width: 22%;

}
.events-loc ul li 
{
    font-weight: bold;
}
    /* #list{

    }

    #list p
    {
        margin-top: 0.5%;
        border:1px solid;
        width: 37%;
    */
/* 
}
#list img
{
    margin-top: 2%;

} */
  
#zarqa-list li 
{   
    padding: 15px;
    display: inline-block;
    border:black solid 2px;
    background-color:whitesmoke;
    padding-top: 20px;
    height: 320px;
    margin-left: 15px;
    
}
#amman-list li{
    padding: 15px;
    display: inline-block;
    border:black solid 2px;
    background-color:whitesmoke;
    padding-top: 20px;
    height: 320px;
    margin-left: 15px;



}

#irbid-list li {
    padding: 15px;
    display: inline-block;
    border:black solid 2px;
    background-color:whitesmoke;
    padding-top: 20px;
    height: 320px;
    padding-left: 15px;
    margin-left: 15px;

}
#zarqa-list li img{
    width: 300px;
    /* height: 200px; */
    padding-top: 10px;
    height: 250px;
   


}

#amman-list li img{
    width: 300px;
    padding-top: 10px;
    height: 250px;
}

#irbid-list li img{
    width: 300px;
    padding-top: 10px;
    height: 250px;
}
#zarqa-list,#amman-list ,#irbid-list{
width: 100%;
padding-bottom: 20px;


}

.user-cart{

    width: 40%;
    padding: 15px;
    display: inline-block;
    border:gray inset 4px;
    background-color:whitesmoke;
    /* height: 320px; */
    margin-left: 7%;
    margin-bottom: 1%;
    border-radius: 4%;
    /* position: relative; */

    

}
.user-cart p {
    /* position: absolute; */
    width: 40%;
    margin-top: 5%;
    /* border:1px solid; */
    /* display: inline-block; */
    float: left;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    font-weight: bolder;
    height:100%;
    line-height:150%;
    color: olive;
    /* text-align: justify; */
    
   
  
    
}
.user-cart img{
    margin-top: 5%;
    margin-left: 5%;
    float: right;
    height: 250px;
    

}

